h2{
    color:pink;
    text-align: right;
    text-weight:bold;
    background-color:#e83c4b
}
p{
    text-align:left;
    font-family:cursive;
    text-decoration-color:black;
    font-weight:2px;
}
div{
    background-color:blue;
    width:100%;
    height:100%;
}
